.create_overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.create_modal {
    background-color: #262630;
    border-radius: 15px;
    padding: 30px 15px 45px 15px;
    width: 850px;
    font-family: "Raleway", sans-serif;
    height: 387px;
    color: #F8F8FE;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    justify-content: flex-start;
    box-sizing: border-box;
    transition: height 0.3s ease;
}

.create_modal.create_has-errors {
    height: 420px;
}

.create_close_icon {
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756244998/Close.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

.create_close_icon:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756245190/Close_light_hover.png');
}

.create_title {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.create_subtitle {
    font-size: 16px;
    color: #aaa;
    text-align: center;
    margin-top: 20px;
}

.create_form {
    gap: 10px;
    margin-top: 20px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create_input_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.create_input {
    background: #34353F;
    border: 1px solid #838387;
    border-radius: 15px;
    color: #F8F8FE;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    height: 52px;
    padding: 15px;
    transition: border-color 0.3s ease, height 0.3s ease, padding-top 0.3s ease;
}

.create_input::placeholder {
    color: transparent;
}

.create_input:focus {
    border-color: #F8F8FE;
    height: 69px;
    padding-top: 28px;
}

.create_input:not(:placeholder-shown):not(:focus) {
    border-color: #838387;
    height: 69px;
    padding-top: 28px;
}

.create_input_group label {
    position: absolute;
    left: 15px;
    top: 18px;
    font-size: 16px;
    color: #838387;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    z-index: 1;
}

.create_input:focus ~ label,
.create_input:not(:placeholder-shown) ~ label {
    top: 15px;
    font-size: 12px;
    color: #9999A1;
}


.create_input_group label {
    position: absolute;
    left: 15px;
    top: 18px;
    font-size: 16px;
    color: #838387;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    z-index: 1;
}

.create_input:focus ~ label,
.create_input:not(:placeholder-shown) ~ label {
    top: 15px;
    font-size: 12px;
    color: #9999A1;
}

.create_password_container {
    position: relative;
    width: 100%;
}

.create_password_input {
    padding-right: 50px;
}

.create_input.error {
    border-color: #DD5254 !important;
}

.create_input.error:focus,
.create_input.error:not(:placeholder-shown) {
    border-color: #DD5254 !important;
}

.create_error_text {
    color: #DD5254;
    display: flex;
    gap: 4px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.create_error_icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    flex-shrink: 0;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756247044/Warning.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.create_toggle_password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.create_button_container {
    margin-top: 15px;
    width: 100%;
}

.create_button {
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    transition: background 0.3s ease;
    width: 480px;
    height: 52px;
    font-family: inherit;
    letter-spacing: inherit;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    background: rgba(78, 85, 212, 0.5);
}

.create_button.valid {
    background: #4E55D4;
    cursor: pointer;
}

.create_button.valid:hover {
    background: #3429B0;
}



.create_form_list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #9999A1;
}

.create_form_list label {
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 1.4;
    cursor: pointer;
}

.create_checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246258/Checkbox.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.create_checkbox:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246334/Checkbox_hover.png');
}

.create_checkbox.create_checked {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246397/Checkbox_active.png');
}

.create_checkbox.create_checked:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246407/Checkbox_active_hover.png');
}

.create_checkbox_icon {
    display: none;
}
