.registration_overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.registration_modal {
    background-color: #262630;
    padding: 30px 15px 48px 15px;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    width: 850px;
    height: 467px;
    color: #F8F8FE;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    justify-content: flex-start;
    box-sizing: border-box;
    transition: height 0.3s ease;
}

.registration_modal.has-error {
    height: 514px;
}

.registration_close_icon {
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756244998/Close.png');
    background-size: contain;
    transition: color 0.3s ease;
    background-repeat: no-repeat;
    background-position: center;
}

.registration_close_icon:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756245190/Close_light_hover.png');
}

.registration_title {
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 32px;
}

.registration_subtitle {
    margin-top: 20px;
    color: #9999A1;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;

}

.registration_form {
    margin-top: 20px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registration_input_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.registration_input {
    background: #34353F;
    border: 1px solid #838387;
    border-radius: 15px;
    color: #F8F8FE;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 200;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    height: 52px;
    padding: 15px;
    transition: border-color 0.3s ease, height 0.3s ease, padding-top 0.3s ease;
}

.registration_input::placeholder {
    color: transparent;
}

.registration_input:focus {
    border-color: #F8F8FE;
    height: 69px;
    padding-top: 28px;
}

.registration_input:not(:placeholder-shown):not(:focus) {
    height: 69px;
    padding-top: 28px;
    border-color: #838387;
}

.registration_input:focus ~ label,
.registration_input:not(:placeholder-shown) ~ label {
    top: 15px;
    font-size: 12px;
    color: #9999A1;
}


.registration_input_block label {
    position: absolute;
    left: 15px;
    top: 18px;
    font-size: 16px;
    color: #838387;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    z-index: 1;
}

.registration_input:focus ~ label,
.registration_input:not(:placeholder-shown) ~ label {
    top: 15px;
    font-size: 12px;
    color: #9999A1;
}

.registration_input.error {
    border-color: #DD5254 !important;
}

.registration_input.error:focus,
.registration_input.error:not(:placeholder-shown) {
    border-color: #DD5254 !important;
}

.registration_error_text {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    align-items: center;
    color: #DD5254;
    display: flex;
    gap: 4px;
    font-weight: 300;
    font-size: 14px;
}

.registration_error_icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756247044/Warning.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.registration_block {
    margin-top: 15px;
}

.registration_button {
    color: #F8F8FE;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    transition: background 0.3s ease;
    width: 480px;
    height: 52px;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: inherit;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    background: rgba(78, 85, 212, 0.5);
}

.registration_button.valid {
    background: #4E55D4;
}

.registration_button.valid:hover {
    background: #3429B0;
}

.registration_remember {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #F8F8FE;
    font-weight: 400;
    width: 480px;
}

.registration_remember label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.registration_custom_checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246258/Checkbox.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.registration_custom_checkbox:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246334/Checkbox_hover.png');
}

.registration_custom_checkbox.checked {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246397/Checkbox_active.png');
}

.registration_custom_checkbox.checked:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246407/Checkbox_active_hover.png');
}

.registration_checkbox_icon {
    display: none;
}

.registration_terms {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #9999A1;
    width: 480px;
    text-align: left;
    line-height: 1.4;
}

.registration_terms a {
    color: #4E55D4;
    text-decoration: underline;
}

.registration_terms a:hover {
    color: #3429B0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #34353F inset !important;
    -webkit-text-fill-color: #F8F8FE !important;
    transition: background-color 5000s ease-in-out 0s;
}
